body {
  background-color: #fbe0d7;
  margin: 0;
  font-family: "Georgia";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page {
  height: 100vh;
  margin: 0;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-image: url("./bg.jpg");
}

#page .header {
  padding: 30px;
  text-align: center;
}
body #page .header .logoheader text {
  text-align: center;
  color: hsl(283, 86%, 30%);
  font-size: -webkit-xxx-large;
}
body #page #moviename {
  text-align: center;
  color: hsl(283, 86%, 30%);
  font: 40px Arial, sans-serif;
  font-weight: bolder;
  height: 80px;
}
body #page .header .logoheader img {
  margin-top: -20px;
}
::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#page .searchbar #myInput {
  box-sizing: border-box;
  opacity: 1px;
  width: 385px;
  height: 32px;
}
#page .searchbar .gosearch {
  cursor: pointer;
  max-height: 32px;
}
#page .header input {
  width: 400px;
}
#page #all_details {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-left: 15px;
  max-height: 100px;
}
#page #all_details #row1 {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.9fr 1.1fr;
  grid-gap: 10px;
}
#page #row1 #where_to_watch {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}
#page #row1 #row1_part1 #movie_image {
  padding-right: 35px;
  float: left;
}
#page #all_details #row2 #iframeid {
  border-radius: 25px;
}
#page #all_details #row1 #plot,
#page #all_details #row2 #imdb_rating,
#page #all_details #row2 #twitter_rating,
#page #all_details #row1 #cast_names,
#page #all_details #row3 #reviews,
#page #all_details #row3 #heatmap {
  font-size: x-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: darkred;
  font-weight: bolder;
}
#page #all_details #row3 #heatmap {
  text-align: center;
}
#page #all_details #row2 #imdb_rating,
#page #all_details #row2 #twitter_rating {
  margin-top: 10px;
  text-align: center;
}
#page #all_details #row1 #plot_Val {
  font-size: medium;
  font-family: Arial, sans-serif;
  color: #000000;
  font-weight: normal;
  line-height: 170%;
}
#page #all_details #row2 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
#page #all_details #row3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
#page #row1 #where_to_watch #netflix_hulu_vudu #netflix_div,
#page #row1 #where_to_watch #netflix_hulu_vudu #hulu_div,
#page #row1 #where_to_watch #netflix_hulu_vudu #vudu_div,
#page #row1 #where_to_watch #itunes_fandango #itunes_div,
#page #row1 #where_to_watch #itunes_fandango #fandango_div {
  float: left;
  padding: 8px;
}

#page #all_details #plot_grid #plot {
  border: 1px solid #000000;
  margin: 0;
}

#page .react-autosuggest__container {
  position: relative;
}
.react-autosuggest__input {
  height: 30px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#page .react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest__suggestions-container {
  display: none;
}
.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 29px;
  right: 614px;
  width: 400px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
  text-align: left;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
#page #row2 .CircularProgressbar {
  width: 65%;
  margin-top: 40px;
}
/*
.CircularProgressbar .CircularProgressbar-path {
  stroke: orangered !important;
}
.CircularProgressbar .CircularProgressbar-trail {
  stroke: lightsteelblue !important;
}
.CircularProgressbar .CircularProgressbar-text {
  fill: orangered !important;
}
*/
#page #row2 #other_details #mv_language,
#page #row2 #other_details #mv_year,
#page #row2 #other_details #mv_runtime,
#page #row2 #other_details #mv_genre {
  font-size: x-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: darkred;
  font-weight: bolder;
}
#page #row2 #other_details #mv_language #lang_span,
#page #row2 #other_details #mv_year #year_span,
#page #row2 #other_details #mv_runtime #runtime_span {
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #191970;
  font-weight: big;
  line-height: 170%;
}
#page #row2 #other_details #mv_genre #genre_span li,
#page #row1 #cast_names #cast_span li {
  font-size: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #191970;
  font-weight: big;
  line-height: 130%;
}
#page #where_to_watch #netflix.ishover:hover,
#page #where_to_watch #itunes.ishover:hover,
#page #where_to_watch #hulu.ishover:hover,
#page #where_to_watch #vudu.ishover:hover,
#page #where_to_watch #fandango.ishover:hover {
  transform: scale(1.25);
}
